In [1]:
import numpy as np
import pandas as pd

In [14]:
import pandas as pd

file_path = r"C:/Users/Vahe/Desktop/crypto_analysis.csv"
df = pd.read_csv(file_path)
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-06-01,27218.412109,31389.539063,24797.167969,30477.251953,30477.251953,481734214225
1,2023-07-01,30471.847656,31814.515625,28934.294922,29230.111328,29230.111328,382224489090
2,2023-08-01,29230.873047,30176.796875,25409.111328,25931.472656,25931.472656,437724169499
3,2023-09-01,25934.021484,27488.763672,24930.296875,26967.916016,26967.916016,337637313742
4,2023-10-01,26967.396484,35150.433594,26558.320313,34667.781250,34667.781250,476425634860
5,2023-11-01,34657.273438,38415.339844,34133.441406,37712.746094,37712.746094,570863267380
6,2023-12-01,37718.007813,44705.515625,37629.359375,42265.187500,42265.187500,721704910480
7,2024-01-01,42280.234375,48969.371094,38521.894531,42582.605469,42582.605469,825918941347
8,2024-02-01,42569.761719,63913.132813,41879.191406,61198.382813,61198.382813,830721862621
9,2024-03-01,61168.062500,73750.070313,59323.910156,71333.648438,71333.648438,1446417844950
10,2024-04-01,71333.484375,72715.359375,59120.066406,60636.855469,60636.855469,1016068331704
11,2024-05-01,60609.496094,71946.460938,56555.292969,67578.093750,67578.093750,817394513454
12,2024-05-30,67569.640625,68719.460938,67169.039063,68161.929688,68161.929688,27217336320